extend layout
block timeline
    .timeline
        table#table-head
            tbody
                tr
                    td(colspan=6)#time !{nowH}:!{nowM}
                tr#hours
                    if nowM < 30
                        //Before now
                        td !{nowH - 2}:!{60 - nowM}
                        td !{nowH - 1}:!{nowM}
                        td !{nowH - 1}:!{60 - nowM}
                        //After now
                        td !{nowH}:!{nowM + 30}
                        td !{nowH + 1}:!{nowM}
                        td !{nowH + 1}:!{nowM + 30}
                    else
                        //Before now
                        td !{nowH}:!{nowM - 30}
                        td !{nowH - 1}:!{nowM}
                        td !{nowH - 1}:!{nowM - 30}
                        //After now
                        td !{nowH + 1}:!{60 - nowM}
                        td !{nowH + 1}:!{nowM}
                        td !{nowH + 2}:!{60 - nowM}
        table
            tbody
                - for (var j = 0; j < 20; j++)
                    tr
                    - for (var i = 0; i<= 5; i++)
                        td test !{i}
                    td#now
                    - for (var i = 0; i<= 5; i++)
                        td test !{i}
